html {
    height: auto;
}
body {
    font-family: 'Zen Maru Gothic', serif;
    }

* {
    box-sizing: border-box;
}

.column {
    border: 4px solid black;
    background-color: #999999;
    padding: 10px 10px 15px 10px;
    margin: 15px 15px 15px 15px;
    position: relative;
}

.title_column {
    border: 3px solid black;
    width: 130px;
    font-weight: bold;
    text-align: center;
    padding: 2px 15px 2px 15px;
    font-size: 125%;
    position: absolute;
    top: 0;
    right: 0;
}

#chicken {
    background-color: #D59898;
}

#beef {
    background-color: #C14543;
    color: white;
}

#sushi {
    background-color: #E5D198;
}

.content {
    font-weight: bold;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 5px;
}

h1 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 175%;
}

.container {
    margin-bottom: 100px;
    }
/*Large devices only*/
@media screen and (min-width: 992px) {
    .column {
        width: 450px;
        float: left;
    }

    .container {
        width: 100%;
    }

    .col {
        width: 33.33%;
        float: left;
    }

}

/*Large devices only - Column display correction between 1373px and 992px*/

/*Note: I had to do this because when reducing the size of the columns,
    they ran into each other and overlapped each other's content*/
@media screen and (min-width: 992px) and (max-width: 1373px) {
    .column {
        width: auto;
        float: left;
    }

    .container {
        width: 100%;
    }

    .col{
        width: 33.33%;
        float: left;
    }
   
}

/*Medium devices only*/
@media screen and (min-width: 768px) and (max-width: 991.5px) {
    .column {
        width: auto;
        float: left;
    }

    .col-1 {
        width: 50%;
        float: left;
        
    }

    .col-2 {
        width: 50%;
        float: left;
        clear: none;
    }

    .col_3 {
        width: 100%;
        clear: both;
    }
}

/*Small devices only*/
@media screen and (max-width:  767px) {
    .col {
        width: 100%;
        float: none;
        
    }

}


